<a href="https://colab.research.google.com/github/shatabdi-sarker/PMASDS/blob/main/ass01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JU PMASDS Data Science **Assignment** 1,

Course: WMASDS04-Introduction to Data Science with Python

Instructor: **Farhana Afrin Duty**,
              Department of Statistics, 
              Jahangirnagar University 

---

**variables**

---

In [14]:
# a input fun ()
x= float (input("type a num : "))

type a num : 3.3

In [17]:
# type of x
type (x)

float

In [18]:
# c converting to another type
y= int (x)
print(y)
type (y) #explicit typecasting

3

int

In [19]:
# d conversion intp float
z = float(y)
print(z)
type(z)

3.0

float

In [20]:
# e dispplay data type
type (z)

float

String

In [ ]:

# a calculating he lenght of string

str = "I Love JU"
len(str)

9

In [ ]:
# b count the number of the string

x= str.count("I Love JU")
print (x)

1

In [ ]:
# c indexing and slicing

print (str [7:])
print (str [0:6])

JU
I Love
JU
I Love

In [ ]:
# d 
new_str = ""
for i in range (len(str)):
  if (i%2==0):
    new_str = new_str + str [i]

print (new_str)

ILv U

In [ ]:
# e taking input and manupulate in Uper Lower

txt = input("type anything here : ")
print (txt)
print (txt.upper())
print (txt.lower())

type anything here : luiccha
luiccha
LUICCHA
luiccha

In [ ]:

# f sort string

str = "462367"
sorted_str= sorted(str)

print (sorted_str)

[1, 2, 6, 7, 9, 10]

In [ ]:
# g reverse string
str ="I love Python"

print(str[::-1])

nohtyP evol I

In [ ]:
#h Convert a given string into a list

def convert (str):
  new_list= list(str.split(" "))
  return new_list


str ="JU has a Beautiful Campus"
print (convert(str))

['JU', 'has', 'a', 'Beautiful', 'Campus']

List

In [ ]:
# a sum all the item in the list

lst = [1, 2, 4, -2]
def sum_list(lst):
  sum = 0
  for i in lst:
    sum += i
  return sum

print (sum_list(lst))

5

In [ ]:
# b get the largest/smallest number from a list

lst = [1, 3, 3, 5, 8, 0]

print( "Max Value is", max(lst))
print( "Min value is", min(lst))

Max Value is 8
Min value is 0

In [ ]:
# c list after removing even number

lst =[2, 4, 6, 5, 9, 8]
new_list= []
for i in lst:
  if (i%2 != 0): 
    new_list.append(i)
print(new_list)

[5, 9]

In [ ]:
# d list odd number

lst =[2, 4, 6, 5, 9, 8]
new_list= []
for i in lst:
  if (i%2 != 0): 
    new_list.append(i)
print(new_list)

[5, 9]

In [ ]:
# e converting a list into string

lst= ["Cousin", "Babli", "Silvi", "ila", "Puja", "subhasree", "Khukumoni", "Eka"]

test_str= "" #extra string as container
str = test_str.join(lst) # str="".join(lst)
print(str)

CousinBabliSilviilaPujasubhasreeKhukumoniEka

In [ ]:
# f find the index of an item in a list
print(lst)
print(lst.index("Eka"))

['Cousin', 'Babli', 'Silvi', 'ila', 'Puja', 'subhasree', 'Khukumoni', 'Eka']
7

In [ ]:
# g adding two list
print(lst)
lst_2nd =["Koushik", "Shourav"]
print (lst_2nd)
final_list= lst+lst_2nd
print (final_list)

['Cousin', 'Babli', 'Silvi', 'ila', 'Puja', 'subhasree', 'Khukumoni', 'Eka']
['Koushik', 'Shourav']
['Cousin', 'Babli', 'Silvi', 'ila', 'Puja', 'subhasree', 'Khukumoni', 'Eka', 'Koushik', 'Shourav']

In [ ]:
# h unique list
lst = [2,3,4,6,7,5,4,3,9,1]

def unique(lst):
  unique_list = []

  for x in lst:
    if x not in unique_list:
      unique_list.append(x)
      print (unique_list)

  for x in unique_list:
      print(x)
        
print("the unique list is : ") 
unique(lst)

the unique list is :
[2]
[2, 3]
[2, 3, 4]
[2, 3, 4, 6]
[2, 3, 4, 6, 7]
[2, 3, 4, 6, 7, 5]
[2, 3, 4, 6, 7, 5, 9]
[2, 3, 4, 6, 7, 5, 9, 1]
2
3
4
6
7
5
9
1

In [ ]:
# i_frequency greater than k

test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

k = 2

res = []

for i in test_list:
  freq = test_list.count(i)

  if freq > k and i not in res:
    res.append(i)

print("required elements : ", (res))

required elements :  [4, 3]

In [ ]:
# j_reversing a sting list

test_list = ["life", "is", "too", "short"]
 
# printing original list
print ("The original list is : ", (test_list))
 
# Reverse All Strings in String List
res = [i[::-1] for i in test_list]
 
# printing result
print ("The reversed string list is : ", (res))

The original list is :  ['life', 'is', 'too', 'short']
The reversed string list is :  ['efil', 'si', 'oot', 'trohs']

Dictionary

In [ ]:
# a creating a dictionary
my_dict = {"name": ["mango", "lemon"],
           "color": ["yewllo","green"],
           "taste":["sweet", "sour"]}
print (my_dict)

my_dict["name"].append("apple")
print (my_dict)

{'name': ['mango', 'lemon'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour']}
{'name': ['mango', 'lemon', 'apple'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour']}

In [ ]:
# b add a new key 
my_dict["availabiliy"]= "Mohbazar"
print (my_dict)

{'name': ['mango', 'lemon', 'apple'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour'], 'availabiliy': 'Mohbazar'}

In [ ]:
# c_key exist or not


#user defied fun()
def check_key(my_dict, key):
  if key in my_dict.keys():
    print("present in dictionary. operation successful")
  else:
    print("not present in the dictionary. operation denied")

#driver fun()
key = 'color'
check_key(my_dict, key)

key = 'price'
check_key(my_dict, key)

present in dictionary. operation successful
not present in the dictionary. operation denied

In [ ]:
# d accessing my index num

print(list(my_dict)[0])
print(list(my_dict)[1])
print(list(my_dict)[2])
print(list(my_dict)[3])

name
color
taste
availabiliy

In [ ]:
# e_dictionary using loop

print("lists of keys: ")

for keys in my_dict.keys():
  print(keys)


print("lists of values: ")

for values in my_dict.values():
  print(values)

lists of keys:
name
color
taste
availabiliy
lists of values:
['mango', 'lemon', 'apple']
['yewllo', 'green']
['sweet', 'sour']
Mohbazar

In [ ]:
# f_keys & the values is doubled of keys

new_dict = dict()
for i in range(1, 10):
  new_dict[i] = i**2
print(new_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# g_extracting keys into a new dictionary

print(my_dict)

keys = ['name', 'color', 'taste']

new_dict = {i : my_dict[i] for i in keys}

print(new_dict)

{'name': ['mango', 'lemon', 'apple'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour'], 'availabiliy': 'Mohbazar'}
{'name': ['mango', 'lemon', 'apple'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour']}

In [ ]:
# h_rename keys in dictionary

print(new_dict)

new_dict['new_name'] = new_dict.pop('name') 

print(new_dict)

{'name': ['mango', 'lemon', 'apple'], 'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour']}
{'color': ['yewllo', 'green'], 'taste': ['sweet', 'sour'], 'new_name': ['mango', 'lemon', 'apple']}

In [ ]:
# i_print only keys

print(list(new_dict)[0])
print(list(new_dict)[1])
print(list(new_dict)[2])

# or

for values in new_dict.keys():
  print(keys)

color
taste
new_name
['name', 'color', 'taste']
['name', 'color', 'taste']
['name', 'color', 'taste']

In [ ]:
# j_print only values

for values in new_dict.values():
  print(values)

['yewllo', 'green']
['sweet', 'sour']
['mango', 'lemon', 'apple']

Loop

In [ ]:
# a_numbers using while loop

num = 10
i = 0

while i <= num:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# b_multiplication table

num = 12

for i in range (1,10):
  print(num, 'X', i, "=", num*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

In [ ]:
# c_numbers using loop

lst = [2, 4, 6, 9, 5, 3, 11, 17, 23, 27, 30]

for i in lst:
  print(i)

2
4
6
9
5
3
11
17
23
27
30

In [ ]:
# d_reverse list using loop

num_list=[1,2,3,4,5]
# new reversed list using as a container
new_list=[]          
for i in range(len(num_list)):
    new_list.insert(i,num_list[-1])
    num_list.pop(-1)
    #see how loops are iterating
    print(new_list)       


print("so the final list is : ", new_list)

[5]
[5, 4]
[5, 4, 3]
[5, 4, 3, 2]
[5, 4, 3, 2, 1]
so the final list is :  [5, 4, 3, 2, 1]

In [ ]:
# f_factorial of given number using recursion fun()

num = int(input("Enter a number: "))
Fact = 1
for i in range(1, num + 1):
    Fact = Fact * i
print("The Factorial of",num,"is",Fact)

Enter a number: 12
The Factorial of 12 is 479001600

In [ ]:
# g_elements off odd index list

num_list = [2, 5, 8, 9, 11, 12, 17, 20]

for i in range(1, len(num_list), 2):      #     ??? why is this condition ???

  print(num_list[i])

5
9
12
20

In [ ]:
# h_cube root using loop
regno = int(input('enter the limit '))

i = 1

while i <= regno: 
  cube = 0 
  cube = i * i * i
  print("cube of %d is : %d" %(i, cube))
  i = i + 1

enter the limit 10
cube of 1 is : 1
cube of 2 is : 8
cube of 3 is : 27
cube of 4 is : 64
cube of 5 is : 125
cube of 6 is : 216
cube of 7 is : 343
cube of 8 is : 512
cube of 9 is : 729
cube of 10 is : 1000

User define function

In [ ]:
# returning my unique class ID using user define function
nums = [2,0,2,3,1,0,7,2]
def uniq_num(nums):
  uniq = []
  for i in nums:
    if i in uniq:
      continue
    else:
      uniq.append(i)  
  return uniq
print (uniq_num(nums))

[2, 0, 3, 1, 7]